@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--fblaBlue: #00539d;
	--fblaRed: #bd2c37;
}

* {
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--fblaBlue);
}

.nav_links {
	display: flex;
	justify-content: space-around;
	background-color: transparent;
}

.nav_links li {
	list-style-type: none;
	background-color: transparent;
	margin: 2% 5%;
	font-weight: bold;
	color: #ffffff;
}

.nav_links a {
	color: white;
	text-decoration: none;
	background-color: transparent;
}  